{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register User{% endblock %}</h1>
{% endblock %}
{% block front_title %}
<h1>Register new user</h1>
{% endblock%}
{% block content %}
  <form method="post" id="register_form">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    {%if g.user['admin']%}
      <label for="admin">Drepturi administrator</label>
      <input type="checkbox" name="admin" id="admin">
    {% endif %}
    <label for="camera">Camera</label>
    <input name="camera" id="camera" required>
    <div id= "container">
      <div> 
        <input type="submit" value="Register" id="register"> 
      </div>
      <div class="loader" id= "loader"></div>
    </div>
    <p id= "messagebox"></p>
  </form>
  <script src="{{url_for('static', filename = 'scripts/jQuery.js')}}"></script>
  <script src="{{url_for('static', filename = 'scripts/register.js')}}"></script>
{% endblock %}
